.App-content {
  padding: 10vh 0vh;
}
.App-title {
  font-family: "M PLUS Code Latin", monospace;
  color: black;
  font-size: 3rem;
  font-weight: bolder;
  text-align: left;
}
.Start-button {
  background-color: black;
}
.App-description {
  font-family: "M PLUS Code Latin", monospace;
  color: black;
  font-size: 1.8rem;
  font-weight: normal;
  text-align: left;
}
